* {
    font-family: serif;
    background-color: rgb(47, 255, 165);
}
a:visited {
    color: black;
}
a:hover {
    color: white;
}
h1, h2 {
    text-align: center;
}
.mainList {
    text-align: center;
    align-items: center;
}
ul, ol {
    list-style-position: inside;
    list-style-type:none;
  }
p {
    text-align: center;
}
 