* {
    font-family: serif;
    background-color: rgba(47, 255, 165, 0.831);
    margin: 0;
    padding: 0;
}
a:visited {
    color: black;
}
a:hover {
    color: white;
}
a:active {
    color: blueviolet;
}
h1, h2 {
    text-align: center;
    color: coral;
}
.mainList {
    text-align: center;
    align-items: center;
}
ul {
    list-style-position: inside;
    list-style-type:none;
  }
p {
    text-align: center;
}
ol {
    list-style-position: inside;
}
 